body.cards {
  background-color: var(--white);
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;

  h1,
  h2 {
    font-family: 'CoFo Kak Trial', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
  }

  h1 {
    text-align: center;
  }

  .promo-menu {
    width: 92.2vw;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.9vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;

    display: flex;
    background: #dfdfe5;
    border-radius: 2.1vw;
    backdrop-filter: blur(21px);

    .home-navig {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: inline-flex;
        gap: 0.49vw;
        margin: 0.97vw;
        margin-right: 6.67vw;
        width: 5.28vw;

        p {
          font-size: 1.25vw;
          margin-right: 4vw;
          color: white;
        }
      }
    }

    .tg {
      a {
        p {
          font-size: 1.25vw;
          margin-right: 1.4vw;
          color: white;
          padding: 0.7vw 2vw;
          border-radius: 1.1vw;
          background: #007aff;
        }
      }
    }
  }

  .card img {
    width: 68.71vw;
    margin: 0 auto;
    display: flex;
  }

  .name {
    position: relative;
    top: -14vw;
    left: 18vw;
    width: 73vw;

    h2 {
      display: flex;
      font-size: 4.17vw;
      line-height: 4.4vw;
    }

    h4 {
      font-size: 1.88vw;
      display: flex;
    }
  }

  .name img {
    width: 6.8vw;
    display: flex;
    margin-right: 10vw;
    margin-top: -8vw;
  }

  a {
    text-decoration: none;
  }

  .card {
    height: 80vh;
  }

  .btns {
    display: inline-flex;
    align-items: flex-start;
    gap: 80vw;
    position: relative;
    top: -28vw;
    width: 100vw;
  }

  .btns img {
    width: 5vw;
    margin-left: 1vw;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    background-color: var(--white);

    .promo-menu {
      opacity: 1;
      width: 87.2vw;

      .home-navig a {
        display: none;
      }

      .home-navig a:first-child {
        display: block;
      }

      .home-navig a img {
        margin: 4.44vw;
        width: 19.61vw;
      }

      .tg a p {
        font-size: 4.44vw;
        margin-right: 3.4000000000000004vw;
        color: white;
        padding: 2.7vw 5vw;
        border-radius: 3.1vw;
      }

      .promo-menu .home-navig a p {
        font-size: 15px;
      }
    }

    .card img {
      width: 85.71vw;
      margin: 0 auto;
      padding-top: 16vw;
      display: flex;
    }

    .name {
      position: relative;
      top: -99vw;
      left: 13vw;
      width: 73vw;

      h2 {
        font-size: 7.4vw;
        line-height: 8vw;
      }

      h4 {
        font-size: 3.33vw;
        margin-top: 2vw;
      }
    }

    .name img {
      width: 18.71vw;
      margin-top: 43vw;
      margin-left: 29vw;
    }

    .btns img {
      width: 15vw;
      margin-left: 4vw;
    }

    .btns {
      gap: 54vw;
      top: -37vw;
    }
  }
}
