@font-face {
  font-family: 'SF Pro';
  src: url('SF-Pro-Display-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('SF-Pro-Display-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('SF-Pro-Display-RegularItalic.otf') format('otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'CoFo Kak Trial';
  src: url('CoFoKak-Black-Trial.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Wide Cyr';
  src: url('drukwidecyr-bold.otf');
  font-weight: 900;
  font-style: normal;
}
