body.index {
  background-color: var(--white);
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;

  h1,
  h2 {
    font-family: 'CoFo Kak Trial', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
  }

  h1 {
    text-align: center;
  }

  h3,
  p,
  a,
  button,
  label,
  input,
  h4,
  h5 {
    font-family: 'SF Pro', Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
  }

  .promo-menu {
    width: 92.2vw;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.9vw;
    margin-top: 2.5vw;
    display: flex;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1.1vw;
    backdrop-filter: blur(21px);
    position: fixed;

    .home-navig {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: inline-flex;
        gap: 0.49vw;

        p {
          font-size: 1.25vw;
          margin-right: 4vw;
          color: white;
        }

        img {
          width: 1.32vw;
          height: 100%;
          margin: 0;
        }
      }

      img {
        margin: 0.97vw;
        margin-right: 6.67vw;
        width: 5.28vw;
      }
    }

    .tg {
      a {
        p {
          font-size: 1.25vw;
          margin-right: 1.4vw;
          color: white;
          padding: 0.7vw 2vw;
          border-radius: 1.1vw;
          background: #007aff;
        }
      }
    }
  }

  section.s1 {
    background-image: url('images/bg-start.svg');
    width: 100vw;
    height: 50vw;
    display: flex;

    img {
      display: flex;
      margin-top: 18vw;
      width: 72.64vw;
      margin-left: 3.9vw;
    }
  }

  // секция 2

  section.s2 {
    width: 100vw;
    margin-top: -2vw;
    background-color: white;
    border-radius: 3vw;

    .folder {
      background-image: url('images/folder.svg');
      width: 92.2vw;
      margin: 3.9vw;
      height: 40vw;

      .info {
        position: relative;
        top: 2.57vw;
        left: 1vw;
        display: inline-flex;
        align-items: flex-start;
        gap: 4.17vw;
        margin: 2.22vw;

        h2 {
          font-size: 3.33vw;
          color: var(--black);
        }

        h4 {
          font-size: 1.4vw;
          color: black;
          width: 43vw;
        }
      }

      .ready {
        display: inline-flex;
        align-items: flex-start;
        gap: 32px;
        margin-left: 2.22vw;
        margin-top: 4.5vw;

        .m1,
        .m2,
        .m3 {
          background-color: white;
          border-radius: 3.33vw;
          width: 22.15vw;
          height: 24.72vw;

          img:first-child {
            height: 13.13vw;
          }

          img:nth-child(2) {
            margin-top: -2vw;
            height: 4.17vw;
            margin-left: 1.39vw;
          }
          h3 {
            font-size: 1.25vw;
            color: black;
            margin-bottom: 0.42vw;
            margin-top: 0.53vw;
            margin-left: 1.39vw;
          }
          h2 {
            font-size: 1.39vw;
            color: black;
            margin-top: 1vw;
            margin-left: 1.39vw;
          }
          h4 {
            font-size: 1.25vw;
            color: black;
            opacity: 0.5;
            margin-top: 1vw;
            margin-left: 1.39vw;
          }
        }
      }
    }
  }

  section.s3 {
    background-image: url('images/why.svg');
    width: 93vw;
    margin: 3.6vw;
    height: 38.3vw;
    background-repeat: no-repeat;

    h2 {
      font-size: 2.5vw;
      margin: 2.7vw;
      padding-top: 2.5vw;
      color: rgba(255, 255, 255, 0.5);
    }

    h3 {
      margin: 2.7vw;
      display: flex;
      font-size: 2.4vw;
      color: white;
      width: 43vw;
    }
  }

  section.s4 {
    width: 92.8vw;
    margin: 3.6vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      font-size: 2.5vw;
      padding-top: 2.5vw;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  section.s5 {
    background-image: url('images/summary.svg');
    width: 92.8vw;
    margin: 3.6vw;
    height: 20.8vw;
    background-repeat: no-repeat;

    h3 {
      margin: 2.1vw;
      padding-top: 5.4vw;
      display: flex;
      font-size: 2.5vw;
      color: white;
      width: 63vw;
    }
  }

  section.s7 {
    width: 92.8vw;
    margin: 3.6vw;
    display: flex;
    gap: 2vw;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      width: 100%;

      h2:nth-child(1) {
        color: var(--white);
        opacity: 100;
        padding: 1.6vw 4vw 1.6vw 4vw;
        width: 85%;
        background-color: var(--blue);
        border-radius: 0.8vw;
        text-align: center;
      }
      h2:nth-child(1):hover {
        background-color: #016bde;
      }
      h2:nth-child(1):active {
        background-color: var(--green);
        color: var(--blue);
      }
    }

    h2:nth-child(2) {
      color: var(--orange);
      opacity: 100;
      width: 85%;
      padding: 1.6vw 4vw 1.6vw 4vw;
      background-color: var(--pink);
      border-radius: 0.8vw;
      text-align: center;
    }
    h2:nth-child(2):hover {
      background-color: #ffb9e5;
    }
    h2:nth-child(2):active {
      background-color: var(--orange);
      color: var(--blue);
    }
  }

  // input {
  //   border: 0;
  //   font-size: 1.3vw;
  //   border-radius: 0.8vw;
  //   padding-left: 2vw;
  //   margin-left: 12px;
  //   width: 36%;
  //   height: calc(2.25rem + 0.9vw);
  //   background-color: var(--pink);
  //   color: var(--blue);
  //   border: 2px solid var(--pink);
  //   outline: none;
  // }

  // input::placeholder {
  //   color: var(--blue);
  // }

  // input:focus {
  //   border: 2px solid var(--blue);
  // }

  // button {
  //   background-color: var(--green);
  //   border: 0;
  //   font-size: 1.3vw;
  //   border-radius: 0.8vw;
  //   width: 24%;
  //   margin-left: 0.3vw;
  //   height: calc(2.25rem + 1.3vw);
  //   color: var(--blue);
  //   border: 2px solid var(--green);
  //   font-weight: 500;
  // }

  // button:hover {
  //   background-color: #a7dc2a;
  //   border: 2px solid #a7dc2a;
  // }

  // button:active {
  //   background-color: var(--blue);
  //   border: 2px solid var(--blue);
  //   color: white;
  // }

  // form {
  //   width: 77vw;
  //   display: inline-block;
  //   color: white;
  // }

  // .layout {
  //   width: 98vw;
  //   height: 18.3vw;
  //   background-color: var(--white);
  //   margin: 0 auto;
  //   border-radius: 1.25vw;
  //   border: none;
  //   margin-top: -2vw;

  //   h3 {
  //     font-size: 1.7vw;
  //     width: 54vw;
  //     padding: 1.6vw;
  //     margin-bottom: 0.5vw;
  //   }

  //   p,
  //   a {
  //     font-size: 1.3vw;
  //     padding: 1.6vw;
  //     color: white;
  //     text-decoration: none;
  //   }
  // }

  // .buttns {
  //   display: flex;
  //   flex-direction: row;
  //   border: 0;
  //   vertical-align: middle;
  // }

  // .medias {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 0.6vw;
  //   height: calc(2.25rem + 1.4vw);
  //   text-align: center;

  //   a:nth-child(1) {
  //     background-color: var(--blue);
  //     font-size: 1.3vw;
  //     border-radius: 0.8vw;
  //     color: var(--white);
  //     padding-top: 1.1vw;
  //     border: 2px solid var(--blue);
  //   }

  //   a:nth-child(1):hover {
  //     border: 2px solid #01576a;
  //     background-color: #01576a;
  //   }
  //   a:nth-child(1):active {
  //     border: 2px solid var(--green);
  //     background-color: var(--green);
  //     color: var(--blue);
  //   }

  //   a:nth-child(2) {
  //     font-size: 1.3vw;
  //     border-radius: 0.8vw;
  //     padding-top: 1.1vw;
  //     background-color: var(--orange);
  //     color: var(--white);
  //     border: 2px solid var(--orange);
  //   }

  //   a:nth-child(2):hover {
  //     background-color: #ee6921;
  //     border: 2px solid #ee6921;
  //   }
  //   a:nth-child(2):active {
  //     border: 2px solid var(--pink);
  //     background-color: var(--pink);
  //     color: var(--blue);
  //   }

  //   button,
  //   label {
  //     font-size: 1.25vw;
  //   }

  //   #my-form-button {
  //     background-color: var(--green);
  //     color: var(--blue);
  //   }
  // }
}
