body.index {
  background-color: var(--white);
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;

  h1,
  h2 {
    font-family: 'CoFo Kak Trial', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
  }

  h1 {
    text-align: center;
  }

  h3,
  p,
  a,
  button,
  label,
  input,
  h4,
  h5 {
    font-family: 'SF Pro', Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -0.18px;
  }

  .promo-menu {
    width: 92.2vw;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.9vw;
    margin-top: 2.5vw;
    display: flex;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 2.1vw;
    backdrop-filter: blur(21px);
    position: fixed;

    .home-navig {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: inline-flex;
        gap: 0.49vw;

        p {
          font-size: 1.25vw;
          margin-right: 4vw;
          color: white;
        }

        img {
          width: 1.32vw;
          height: 100%;
          margin: 0;
        }
      }

      img {
        margin: 0.97vw;
        margin-right: 6.67vw;
        width: 5.28vw;
      }
    }

    .tg {
      a {
        p {
          font-size: 1.25vw;
          margin-right: 1.4vw;
          color: white;
          padding: 0.7vw 2vw;
          border-radius: 1.1vw;
          background: #007aff;
        }
      }
    }
  }

  section.s1 {
    background-image: url('images/bg-start.svg');
    width: 100vw;
    height: 50vw;
    display: flex;

    img {
      display: flex;
      margin-top: 18vw;
      width: 72.64vw;
      margin-left: 3.9vw;
    }
  }

  // секция 2

  section.s2 {
    width: 100vw;
    margin-top: -2vw;
    background-color: white;
    border-radius: 3vw;
    padding: 3.9vw;

    .folder {
      background-image: url('images/folder.png');
      max-width: 100%;
      height: auto;
      // object-fit: cover;
      // object-position: bottom;
      background-repeat: no-repeat;

      .info {
        position: relative;
        top: 2.57vw;
        left: 1vw;
        display: inline-flex;
        align-items: flex-start;
        gap: 4.17vw;
        margin: 2.22vw;

        h2 {
          font-size: 3.33vw;
          color: var(--black);
        }

        h4 {
          font-size: 1.4vw;
          color: black;
          width: 37vw;
        }
      }

      .ready {
        display: inline-flex;
        align-items: flex-start;
        gap: 32px;
        margin-left: 2.22vw;
        margin-top: 4.5vw;
        margin-bottom: 2.78vw;

        .m1,
        .m2,
        .m3 {
          background-color: white;
          border-radius: 3.33vw;
          width: 22.15vw;
          height: 24.72vw;

          img:first-child {
            height: 13.13vw;
          }

          img:nth-child(2) {
            margin-top: -2vw;
            height: 4.17vw;
            margin-left: 1.39vw;
          }
          h3 {
            font-size: 1.25vw;
            color: black;
            margin-bottom: 0.42vw;
            margin-top: 0.53vw;
            margin-left: 1.39vw;
          }
          h2 {
            font-size: 1.39vw;
            color: black;
            margin-top: 1vw;
            margin-left: 1.39vw;
          }
          h4 {
            font-size: 1.25vw;
            color: black;
            opacity: 0.5;
            margin-top: 1vw;
            margin-left: 1.39vw;
          }
        }
      }
    }
  }

  section.s3 {
    width: 96.1vw;
    margin: 3.9vw;
    height: 50.63vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    background-image: url('images/illustration.png');

    h2 {
      font-size: 3.3vw;
      line-height: 3.75vw;
      padding-top: 4.86vw;
      padding-bottom: 2.08vw;
      color: black;
    }

    h3 {
      display: flex;
      font-size: 1.67vw;
      color: black;
      width: 38.33vw;
      padding-bottom: 2.78vw;
    }

    .f-line {
      display: flex;
      width: 56.67vw;
      align-items: flex-start;
      gap: 0.97vw;
      padding-bottom: 0.97vw;
    }

    .person1,
    .person2,
    .person3 {
      display: flex;
      padding: 2.08vw 1.8vw;
      align-items: center;
      gap: 1.67vw;
      background-color: #f2f2f7;
      border-radius: 1.67vw;

      img {
        width: 3.89vw;
      }

      .s3-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
        width: 100%;

        h4 {
          font-size: 2.08vw;
        }
        p {
          font-size: 1.25vw;
        }
      }
    }
  }

  section.s4 {
    width: 92.8vw;
    margin: 3.6vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

    h2 {
      font-size: 2.22vw;
      padding-bottom: 2.78vw;
      color: rgba(0, 0, 0, 0.5);
    }

    .point1,
    .point2,
    .point3 {
      background-color: #f2f2f7;
      display: flex;
      padding: 2.22vw;
      gap: 2.78vw;
      align-items: center;
      border-radius: 1.67vw;
    }
    h3 {
      font-size: 1.11vw;
      font-family: 'CoFo Kak Trial', Arial, Helvetica, sans-serif;
    }
    p {
      font-size: 1.8vw;
    }
  }

  section.s5 {
    background-image: url('images/summary.svg');
    width: 92.2vw;
    margin: 3.9vw;
    height: 21.94vw;
    background-repeat: no-repeat;

    h3 {
      margin: 2.22vw;
      padding-top: 5.56vw;
      display: flex;
      font-size: 2.22vw;
      color: white;
      width: 29.17vw;
    }
  }

  section.s6 {
    background-color: #19282d;
    border-radius: 3.47vw;

    h2 {
      padding-top: 6.11vw;
      padding-bottom: 4.44vw;
      color: white;
      font-size: 3.33vw;
      text-align: center;
    }

    img {
      padding-bottom: 4.44vw;
      width: 92.2vw;
      margin-left: 3.9vw;
    }
  }

  section.s7 {
    width: 100vw;
    height: 45vw;
    display: flex;
    align-items: center;
    border-radius: 3.47vw;
    background-color: #f2f2f7;
    margin-top: 3.9vw;

    footer {
      background-image: url(images/footer-bg.svg);
      width: 92.2vw;
      margin: 3.9vw;
      display: flex;
      flex-direction: row;
      border-radius: 2.64vw;
      background-repeat: no-repeat;

      .foot-left {
        h2 {
          font-size: 4.17vw;
          padding: 2.78vw;
          color: rgba(0, 0, 0, 1);
        }

        h3 {
          font-size: 1.67vw;
          padding-left: 2.78vw;
          color: black;
          width: 58.33vw;
          line-height: 2.08vw;
        }

        p {
          padding-left: 2.78vw;
          padding-top: 3.78vw;
          font-size: 1.4vw;
        }
        .medias {
          display: flex;
          padding-left: 2.78vw;
          align-items: flex-start;
          align-content: flex-start;
          gap: 7.722px;
          align-self: stretch;
          flex-wrap: wrap;
          padding-top: 1.67vw;
          padding-bottom: 2.78vw;

          a:first-child {
            p {
              display: flex;
              padding: 0.8vw 1.11vw;
              align-items: center;
              gap: 1.11vw;
              background-color: var(--green);
              color: white;
              border-radius: 0.8vw;
            }
          }

          a:nth-child(2) {
            p {
              display: flex;
              padding: 0.8vw 1.11vw;
              align-items: center;
              gap: 1.11vw;
              color: white;
              border-radius: 0.8vw;
              background-color: var(--blue);
            }
          }

          a:nth-child(3) {
            p {
              display: flex;
              padding: 0.8vw 1.11vw;
              align-items: center;
              gap: 1.11vw;
              color: white;
              border-radius: 0.8vw;
              background-color: var(--pink);
            }
          }
        }
      }

      .foot-right {
        padding-top: 2.78vw;
        width: 100%;
        display: flex;
        justify-content: center;

        a {
          text-decoration: none;
          color: var(--white);
          height: 2.5vw;
          background-color: var(--blue);
          border-radius: 0.8vw;
          font-size: 1.39vw;
          display: flex;
          width: 14.28vw;
          padding: 1vw 4.44vw;
          justify-content: center;
          align-items: center;
          gap: 0.6vw;
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-color: var(--pink);

    .promo-menu .tg a p {
      font-size: 15px;
      padding: 12px 30px;
    }
    .promo-menu {
      width: 710px;
      height: 56px;
    }
    .promo-menu .home-navig img {
      width: 54px;
    }

    .promo-menu .home-navig a p {
      font-size: 15px;
    }

    section.s1 h1 {
      font-size: 42px;
    }

    section.s1 h3 {
      font-size: 15px;
    }

    section.s1 {
      height: 620px;
    }

    section.s2 h2 {
      font-size: 2.22vw;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    background-color: var(--white);

    .promo-menu {
      opacity: 1;

      .home-navig a {
        overflow: hidden;
      }
    }

    .promo-menu .home-navig a p {
      font-size: 15px;
    }

    section.s1 {
      font-size: 42px;
      background-repeat: no-repeat;
      height: 85vh;

      img {
        background-repeat: no-repeat;
        width: 86.64vw;
      }
    }

    body.index section.s1 img {
      display: flex;
      margin-top: 18vw;
      width: 72.64vw;
      margin-left: 3.9vw;
    }

    section.s2 .folder {
      background-image: url('images/folder-360.svg');
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
    }

    section.s2 .folder .ready {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 2.22vw;
      margin-top: 4.5vw;
      margin-bottom: 2.78vw;

      .m1,
      .m2,
      .m3 {
        background-color: white;
        border-radius: 3.33vw;
        width: 85vw;
        height: 59vw;

        img:first-child {
          height: 22.78vw;
        }

        img:nth-child(2) {
          height: 15.5vw;
          margin-top: -6vw;
        }

        h2 {
          font-size: 5.56vw;
        }

        h3,
        h4 {
          font-size: 4.44vw;
        }
      }
    }

    section.s2 {
      width: 100vw;
      margin-top: 2vw;
      background-color: white;
      border-radius: 3vw;
      padding: 3.9vw;
    }

    section.s2 .folder .info {
      position: relative;
      top: 2.57vw;
      left: 1vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4.17vw;
      margin: 2.22vw;
    }

    section.s2 .folder .info h4 {
      font-size: 4vw;
      width: 85vw;
    }

    section.s2 .folder .info h2 {
      font-size: 7vw;
    }

    section.s3 {
      height: 180.83vw;

      h2 {
        font-size: 7.78vw;
        line-height: 7.9vw;
      }

      h3 {
        font-size: 4.44vw;
        width: 98.33vw;
      }
      .f-line {
        flex-direction: column;
      }

      .person1 .s3-1 h4,
      .person2 .s3-1 h4,
      .person3 .s3-1 h4 {
        font-size: 5.56vw;
      }
      .person1 .s3-1 p,
      .person2 .s3-1 p,
      .person3 .s3-1 p {
        font-size: 4.44vw;
        width: 74.5vw;
      }

      .person3 .s3-1 p {
        width: 70.5vw;
      }

      .person1 img,
      .person2 img,
      .person3 img {
        width: 13.89vw;
      }
    }

    // section.s1 h3 {
    //   font-size: 15px;
    // }

    // section.s1 {
    //   height: 620px;
    // }

    // section.s2 h2 {
    //   font-size: 2.22vw;
    // }
  }

  // input {
  //   border: 0;
  //   font-size: 1.3vw;
  //   border-radius: 0.8vw;
  //   padding-left: 2vw;
  //   margin-left: 12px;
  //   width: 36%;
  //   height: calc(2.25rem + 0.9vw);
  //   background-color: var(--pink);
  //   color: var(--blue);
  //   border: 2px solid var(--pink);
  //   outline: none;
  // }

  // input::placeholder {
  //   color: var(--blue);
  // }

  // input:focus {
  //   border: 2px solid var(--blue);
  // }

  // button {
  //   background-color: var(--green);
  //   border: 0;
  //   font-size: 1.3vw;
  //   border-radius: 0.8vw;
  //   width: 24%;
  //   margin-left: 0.3vw;
  //   height: calc(2.25rem + 1.3vw);
  //   color: var(--blue);
  //   border: 2px solid var(--green);
  //   font-weight: 500;
  // }

  // button:hover {
  //   background-color: #a7dc2a;
  //   border: 2px solid #a7dc2a;
  // }

  // button:active {
  //   background-color: var(--blue);
  //   border: 2px solid var(--blue);
  //   color: white;
  // }

  // form {
  //   width: 77vw;
  //   display: inline-block;
  //   color: white;
  // }

  // .layout {
  //   width: 98vw;
  //   height: 18.3vw;
  //   background-color: var(--white);
  //   margin: 0 auto;
  //   border-radius: 1.25vw;
  //   border: none;
  //   margin-top: -2vw;

  //   h3 {
  //     font-size: 1.7vw;
  //     width: 54vw;
  //     padding: 1.6vw;
  //     margin-bottom: 0.5vw;
  //   }

  //   p,
  //   a {
  //     font-size: 1.3vw;
  //     padding: 1.6vw;
  //     color: white;
  //     text-decoration: none;
  //   }
  // }

  // .buttns {
  //   display: flex;
  //   flex-direction: row;
  //   border: 0;
  //   vertical-align: middle;
  // }

  // .medias {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 0.6vw;
  //   height: calc(2.25rem + 1.4vw);
  //   text-align: center;

  //   a:nth-child(1) {
  //     background-color: var(--blue);
  //     font-size: 1.3vw;
  //     border-radius: 0.8vw;
  //     color: var(--white);
  //     padding-top: 1.1vw;
  //     border: 2px solid var(--blue);
  //   }

  //   a:nth-child(1):hover {
  //     border: 2px solid #01576a;
  //     background-color: #01576a;
  //   }
  //   a:nth-child(1):active {
  //     border: 2px solid var(--green);
  //     background-color: var(--green);
  //     color: var(--blue);
  //   }

  //   a:nth-child(2) {
  //     font-size: 1.3vw;
  //     border-radius: 0.8vw;
  //     padding-top: 1.1vw;
  //     background-color: var(--orange);
  //     color: var(--white);
  //     border: 2px solid var(--orange);
  //   }

  //   a:nth-child(2):hover {
  //     background-color: #ee6921;
  //     border: 2px solid #ee6921;
  //   }
  //   a:nth-child(2):active {
  //     border: 2px solid var(--pink);
  //     background-color: var(--pink);
  //     color: var(--blue);
  //   }

  //   button,
  //   label {
  //     font-size: 1.25vw;
  //   }

  //   #my-form-button {
  //     background-color: var(--green);
  //     color: var(--blue);
  //   }
  // }
}
