body.style {
  background-color: #f2f2f7;
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;

  h1,
  h2 {
    font-family: 'Druk Wide Cyr', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    font-size: 3.33vw;

    @media only screen and (min-width: 360px) and (max-width: 743px) {
      font-size: 32px;
    }
  }

  h3,
  p,
  a,
  button,
  label,
  input,
  h4,
  h5 {
    font-family: 'SF Pro', Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -0.18px;
  }

  h3 {
    font-size: 1.53vw;
    font-family: 'Druk Wide Cyr', Arial, Helvetica, sans-serif;
    opacity: 0.5;
  }

  h5 {
    font-size: 20px;
    line-height: 120%;
  }

  section.s1 {
    background-image: url('images/style/bg-1440.png');
    height: 52.083vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media only screen and (min-width: 360px) and (max-width: 743px) {
      background-image: url('images/style/bg-360.svg');
      width: 100vw;
      height: 816px;
      margin: 0 auto;
    }
  }

  img {
    margin: 2.78vw;
    background-size: cover;
    width: 61.823vw;

    @media only screen and (min-width: 360px) and (max-width: 743px) {
      width: 356px;
    }
  }

  .start {
    border-radius: 19.5px;
    background: rgba(255, 255, 255, 0.2);
    margin: 2.78vw;
    backdrop-filter: blur(75px);
    padding: 2.5vw;
  }

  .btns {
    display: flex;
    gap: 27.75px;
    padding-top: 1.94vw;

    @media only screen and (min-width: 360px) and (max-width: 743px) {
      flex-direction: column;
      margin-top: 20px;
      gap: 16px;

      p {
        font-size: 16px;
      }
    }
  }

  h4 {
    font-size: 28px;
    width: 64.31vw;
    color: white;

    @media only screen and (min-width: 744px) and (max-width: 1439px) {
      font-size: 22px;
    }

    @media only screen and (min-width: 360px) and (max-width: 743px) {
      font-size: 16px;
    }
  }

  p {
    display: flex;
    padding: 21px 22.5px;
    justify-content: center;
    align-items: flex-start;
    gap: 7.5px;
    flex: 1 0 0;
    border-radius: 12px;
    background: white;
    font-size: 1.6vw;
  }

  p:hover {
    background: black;
    color: white;
  }

  section.s2 {
    padding: 2.64vw;

    h2 {
      font-size: 3.33vw;
      margin-bottom: 3vw;
    }

    h5 {
      width: 34vw;

      @media only screen and (min-width: 360px) and (max-width: 743px) {
        width: 90vw;
      }
    }

    h1 {
      font-size: 4.44vw;
      color: rgba(0, 0, 0, 0.2);
      text-transform: lowercase;
      margin-bottom: 9.58vw;
      line-height: 100%;
      margin-top: 20px;
    }

    .miss {
      background-color: white;
      border-radius: 0.83vw;
      display: flex;
      flex-direction: row;
      gap: 7vw;
      padding: 3.67vw;
      margin-bottom: 1.67vw;

      @media only screen and (min-width: 360px) and (max-width: 743px) {
        border-radius: 16px;
        padding: 16px;
      }

      h5 {
        width: 50vw;
      }
    }

    .cenn {
      background-color: white;
      border-radius: 0.83vw;
      gap: 7vw;
      padding: 3.67vw;
      @media only screen and (min-width: 360px) and (max-width: 743px) {
        border-radius: 16px;
        padding: 16px;
      }

      h2 {
        padding-bottom: 2.5vw;
      }

      .gol-z {
        display: flex;
        flex-direction: row;
        gap: 0.83vw;
        padding-bottom: 0.83vw;

        @media only screen and (min-width: 360px) and (max-width: 743px) {
          flex-direction: column;
        }

        h5:first-child {
          border-radius: 18px;
          background: #007aff;
          color: white;
          width: 45.11vw;
          padding: 1.46vw;

          @media only screen and (min-width: 360px) and (max-width: 743px) {
            width: 100%;
          }
        }

        h5:nth-child(2) {
          border-radius: 18px;
          background: #01b9ae;
          color: white;
          width: 45.11vw;
          padding: 1.46vw;

          @media only screen and (min-width: 360px) and (max-width: 743px) {
            width: 100%;
            padding: 16px;
          }
        }
      }

      .roz-o {
        display: flex;
        flex-direction: row;
        gap: 0.83vw;

        @media only screen and (min-width: 360px) and (max-width: 743px) {
          flex-direction: column;
        }

        h5:first-child {
          border-radius: 18px;
          background: #ff90e9;
          color: white;
          width: 45.11vw;
          padding: 1.46vw;

          @media only screen and (min-width: 360px) and (max-width: 743px) {
            width: 100%;
            padding: 16px;
          }
        }

        h5:nth-child(2) {
          border-radius: 18px;
          background: #ff773d;
          color: white;
          width: 45.11vw;
          padding: 1.46vw;

          @media only screen and (min-width: 360px) and (max-width: 743px) {
            width: 100%;
            padding: 16px;
          }
        }
      }
    }
  }

  section.s3 {
    display: flex;
    flex-direction: row;
    padding: 3.67vw;
    gap: 12vw;
    margin-top: 8.33vw;
    margin-bottom: 4.17vw;

    @media only screen and (min-width: 360px) and (max-width: 743px) {
      flex-direction: column;
      gap: 12px;
      width: 356px;
    }

    h2 {
      font-size: 3.33vw;
      margin-bottom: 0.83vw;
    }

    .left-s3 {
      h5 {
        opacity: 0.5;
        width: 29.58vw;
      }
    }

    .rig-s3 {
      width: 50vw;
    }
  }

  section.s4 {
    background-color: white;
    border-radius: 2.22vw;
    padding: 3.67vw;

    .s4-s4 {
      display: flex;
      flex-direction: row;
      gap: 10vw;
      padding-top: 2.5vw;
    }

    .s4-left,
    .s4-r {
      width: 50vw;

      img {
        margin: 0;
        background-size: cover;
        width: 30vw;
      }
    }

    h3 {
      font-size: 16px;
      width: 17vw;
      font-family: 'Druk Wide Cyr', Arial, Helvetica, sans-serif;
      color: rgba(0, 0, 0, 0.3);
    }

    .s4-1,
    .s4-2,
    .s4-3 {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      h5 {
        width: 35.42vw;
      }
    }
    .photos {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      width: 88.889vw;

      img {
        height: 22vw;
        margin-left: 0;
        margin: 1vw;
        width: 57vw;
      }
    }

    .s4-3 {
      margin-top: 4.17vw;
      display: flex;
      flex-direction: row;

      h5 {
        width: 45.42vw;
      }
    }

    .im {
      img {
        margin-top: 6.25vw;
        width: 88.889vw;
        margin-bottom: 2.92vw;
        margin-left: 0;
        background-size: cover;
      }
    }
  }

  section.s5 {
    background-color: black;
    padding: 1.67vw;
    margin-top: 3.33vw;
    padding: 3.67vw;

    .s5-1,
    .s5-2 {
      display: flex;
      flex-direction: row;

      img {
        margin-left: 15vw;
        width: 42vw;
        background-size: cover;
      }
    }

    .alp {
      img {
        width: 88vw;
        margin-top: 6vw;
        margin-left: 0vw;
      }
    }

    h5 {
      width: 31.46vw;
      color: white;
    }

    h3 {
      color: white;
      opacity: 0.5;
      width: 20vw;
      margin-bottom: 2vw;
    }

    h2 {
      color: white;
      padding-bottom: 2.5vw;
      padding-top: 5.33vw;
    }

    img {
      margin-top: -2vw;
      margin-left: 13vw;
    }
  }

  section.s6 {
    background-color: black;
    padding: 3.67vw;

    h2,
    h3,
    h5 {
      color: white;
    }

    .s6-1 {
      display: flex;
      flex-direction: row;
      margin-top: 4vw;
      gap: 26vw;

      .s6-t {
        margin-top: 10vw;
      }
    }

    .setkal {
      img {
        margin: 0.78vw;
        background-size: cover;
        width: 44vw;
      }
    }

    h2 {
      margin-top: 5vw;
    }

    .gr {
      img {
        width: 92vw;
        background-size: cover;
        margin-top: 6vw;
        margin-left: 0vw;
      }
    }

    .konec {
      img {
        width: 88vw;
        margin: 0 auto;
        align-items: center;
      }
    }
  }

  @media screen and (min-width: 1441px) and (max-width: 1921px) {
    background-color: #f2f2f7;

    section.s1 {
      background-image: url('images/style/bg-1920.png');
      height: 100vh;
      background-repeat: no-repeat;
    }
  }
}
