body.test {
  background-color: var(--white);
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;

  h1,
  h2 {
    font-family: 'Druk Wide Cyr', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    font-size: 4.17vw;
    padding-bottom: 3.33vw;
  }

  h3,
  p,
  a,
  button,
  label,
  input,
  h4,
  h5,
  li {
    font-family: 'SF Pro', Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -0.18px;
  }

  li {
    padding-bottom: 0vw;
  }

  .promo-menu {
    width: 92.2vw;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.9vw;
    margin-top: 2.5vw;
    display: flex;
    background: #f2f2f7;
    border-radius: 2.1vw;
    backdrop-filter: blur(21px);
    margin-bottom: 2.5vw;
    display: flex;

    .home-navig {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: inline-flex;
        gap: 0.49vw;

        p {
          font-size: 1.25vw;
          margin-right: 4vw;
          color: black;
        }

        img {
          width: 1.32vw;
          height: 100%;
          margin: 0;
        }
      }

      img.go-home {
        margin: 0.97vw;
        margin-right: 6.67vw;
        width: 5.28vw;
      }
    }

    .tg {
      a {
        p {
          font-size: 1.25vw;
          margin-right: 1.4vw;
          color: white;
          padding: 0.7vw 2vw;
          border-radius: 1.1vw;
          background: #007aff;
        }
      }
    }
  }

  section.bg {
    background-color: #f2f2f7;
    margin: 3.9vw;
    border-radius: 1.22vw;

    .first-line {
      display: flex;
      flex-direction: row;
      padding: 2.22vw;

      h2 {
        font-size: 2.78vw;
        display: flex;
        align-items: center;
      }
    }

    .ans {
      padding: 2.22vw;

      h5 {
        padding: 2.22vw;
        background-color: white;
        font-size: 2.22vw;
        width: 40vw;
        border-radius: 1.04vw;
      }

      h5:hover {
        background-color: #ff90e9;
        color: white;
      }

      .l-1,
      .l-2 {
        display: flex;
        flex-direction: row;
        gap: 0.56vw;
        padding-bottom: 0.56vw;
      }
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    background-color: var(--white);

    .promo-menu {
      opacity: 1;
      width: 92vw;

      .home-navig a {
        display: none;
      }

      .home-navig a:first-child {
        display: block;
      }

      .home-navig img.go-home {
        margin: 4.44vw;
        width: 19.61vw;
      }

      .tg a p {
        font-size: 4.44vw;
        margin-right: 3.4000000000000004vw;
        color: white;
        padding: 2.7vw 5vw;
        border-radius: 3.1vw;
      }

      .promo-menu .home-navig a p {
        font-size: 15px;
      }
    }

    section.bg {
      border-radius: 8.21vw;

      .first-line {
        display: flex;
        flex-direction: column;
        padding: 2.22vw;

        h2 {
          font-size: 7.18vw;
          padding: 5.7vw;
        }
      }

      .ans {
        .l-1,
        .l-2 {
          flex-direction: column;
          gap: 3vw;
          padding-bottom: 3vw;
        }

        h5 {
          padding: 5.22vw;
          background-color: white;
          font-size: 5.22vw;
          width: 77vw;
          border-radius: 3.85vw;
        }
      }
    }
  }
}
