// объявляю тут свои переменные

:root {
  --white: #ffffff;
  --black: #000000;
  --beige: #e8eee9;
  --dark: #252f39;

  --blue: #016b83;
  --green: #c3ff34;
  --pink: #ffd7f0;
  --orange: #fe6b1b;
}
