// объявляю тут свои переменные

:root {
  --white: #ffffff;
  --black: #161616;
  --light: #f3f3f8;
  --secgray: #acadb2;
  --blue: #007aff;
  --green: #01b9ae;
  --pink: #ff90e9;
  --orange: #ff773d;
}
