<section class="S_Burger black">
  <div class="S_NavBar">
    <div class="O_NavBar">
      <div class="W_NavBar">
        <a class="A_Logo black" href="./"></a>
        <div class="W_Search mobile"></div>
        <div class="Q_NavBarBurger"></div>
      </div>
    </div>
  </div>

  <div class="Q_Close"></div>

  <div class="M_Menu">
    <div class="C_links">
      <a class="A_NavBarCategory black" href="style.html">Стайлгайд</a>
      <a class="A_NavBarCategory black" href="articles.html">Статьи</a>
      <a class="A_NavBarCategory black" href="cards.html">Карточки</a>
      <a class="A_NavBarCategory black" href="tests.html">Тесты</a>
    </div>
  </div>
</section>
