<div class="S_MenuBar"></div>

<!-- <section class="S_MenuBar">
    <div class="O_NavBar">
      <div class="W_NavBar">
        <a class="A_Logo black" href="./"></a>
        <div class="W_NavBarCategories">
          <div class="C_NavBarCategories">
            <a class="A_NavBarCategory" href="style.html">Стайлгайд</a>
            <a class="A_NavBarCategory" href="articles.html">Статьи</a>
            <a class="A_NavBarCategory" href="cards.html">Карточки</a>
            <a class="A_NavBarCategory" href="tests.html">Тесты</a>
          </div>
          <div class="W_Search">
            <div class="O_SearchBar">
              <div class="M_SearchForm">
                <input class="A_Input" placeholder="Я ищу..." value="" />
                <div class="A_Button disabled primary"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="W_Search mobile"></div>

        <div class="Q_NavBarBurger" ></div>
  </section>

  <section class="S_Burger black">
    <div class="Q_Close"></div>
  </div>
  <div class="M_Menu">
    <div class="C_links">
      <a class="A_NavBarCategory black" href="style.html">Стайлгайд</a>
      <a class="A_NavBarCategory black" href="articles.html">Статьи</a>
      <a class="A_NavBarCategory black" href="cards.html">Карточки</a>
      <a class="A_NavBarCategory black" href="tests.html">Тесты</a>
    </div>
</div>
  </section> -->
