<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/favicon-o.png" />

    <meta
      name="Keywords"
      content="XLXS, excel, аналитика, шпаргалка, учебник"
    />

    <title>Диаграмма размаха</title>
    <analytics></analytics>
  </head>
  <body class="article">
    <menubar></menubar>

    <section class="S_SearchCard">
      <div class="W_Hero">
        <p>Хранилище карточек xlxs:)</p>
        <div class="A_Title">Листай карточки</div>
      </div>
    </section>

    <section class="S_CardCollection">
      <div class="A_Title">Карточки</div>
      <div class="W_CardCollection">
        <!-- линия 1 -->
        <a href="cards/krug.html"
          ><div class="O_CardPreview krug">
            <p>Круговая диаграмма</p>
          </div></a
        >

        <a href="cards/svech.html"
          ><div class="O_CardPreview svech">
            <p>Свечной график</p>
          </div></a
        >

        <a href="cards/block.html"
          ><div class="O_CardPreview block">
            <p>Блок-схема</p>
          </div></a
        >

        <a href="cards/linear.html"
          ><div class="O_CardPreview linear">
            <p>Линейный график</p>
          </div></a
        >

        <a href="cards/stolb.html"
          ><div class="O_CardPreview stolb">
            <p>Столбчатая диаграмма</p>
          </div></a
        >

        <!-- линия 2 -->
        <a href="cards/derevo.html"
          ><div class="O_CardPreview derevo">
            <p>Деревовидная диаграмма</p>
          </div></a
        >

        <a href="cards/obl.html"
          ><div class="O_CardPreview obl">
            <p>Диаграмма с областями</p>
          </div></a
        >

        <a href="cards/kolco.html"
          ><div class="O_CardPreview kolco">
            <p>Кольцевая диаграмма</p>
          </div></a
        >

        <a href="cards/matrica.html"
          ><div class="O_CardPreview matrica">
            <p>Матричная диаграмма</p>
          </div></a
        >

        <a href="cards/demo.html"
          ><div class="O_CardPreview demo">
            <p>Демографическая диаграмма</p>
          </div></a
        >
        <!-- линия 3 -->
        <a href="cards/calend.html"
          ><div class="O_CardPreview calend">
            <p>Календарь</p>
          </div></a
        >

        <a href="cards/usi.html"
          ><div class="O_CardPreview usi">
            <p>Ящик с усами</p>
          </div></a
        >

        <a href="cards/pusyr.html"
          ><div class="O_CardPreview pusyr">
            <p>Пузырьковая диаграмма</p>
          </div></a
        >

        <a href="cards/plotn.html"
          ><div class="O_CardPreview plotn">
            <p>График плотности</p>
          </div></a
        >

        <a href="cards/hord.html"
          ><div class="O_CardPreview hord">
            <p>Хордовая диаграмма</p>
          </div></a
        >
      </div>
    </section>

    <footer>
      <div class="W_Links">
        <hr class="long" />
        <div class="W_Content">
          <div class="W_Columns">
            <div class="O_Links">
              <a href="/"><div class="A_FooterLink">Главная</div></a>
              <a href="articles.html"><div class="A_FooterLink">Статьи</div></a>
              <a href="tests.html"><div class="A_FooterLink">Тесты</div></a>
              <a href="cards.html"><div class="A_FooterLink">Карточки</div></a>
            </div>
            <div class="W_Names">
              <div class="W_TextWrapper">
                <p>Дизайнеры:</p>
                <div class="A_FeedBack">
                  Варя Гучек, Саша Ляпина, Ксюша Бочарова
                </div>
              </div>
              <div class="W_TextWrapper">
                <p>Кураторы:</p>
                <div class="A_FeedBack">Софья Каем, Анна Комкова</div>
              </div>
            </div>
          </div>

          <div class="W_Socials">
            <div class="W_Cell">
              <div class="A_Logo black"></div>
              <div class="W_TextWrapper">
                <p>Медиа-сервис</p>
                <div class="A_FeedBack">Для визуализации данных</div>
              </div>
            </div>

            <div class="W_SocialButtons">
              <a href="https://t.me/xlxstg"
                ><div class="Q_Image icon tg"></div
              ></a>
              <a href=""><div class="Q_Image icon vk"></div></a>
              <a href=""><div class="Q_Image icon ut"></div></a>
            </div>
          </div>
        </div>
        <hr class="long" />
      </div>
    </footer>
  </body>
</html>
