<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/favicon-g.png" />

    <meta
      name="Keywords"
      content="XLXS, excel, аналитика, шпаргалка, учебник"
    />

    <title>Библиотека тестов</title>
    <analytics></analytics>
  </head>
  <body class="article">

    <menubar></menubar>

    <section class="S_SearchTest">
      <div class="W_Hero">
        <p>Библиотека xlxs:)</p>
        <div class="A_Title">тесты</div>
        <p>Здесь ты&nbsp;можешь пройти чекап своих знаний о&nbsp;визуализации данных и&nbsp;бросить челлендж самому себе. Решишь наши задачки?)</p>
      </div>
    </section>

    <section class="S_TestCollection">
      <div class="A_Title">все тесты</div>
      <div class="W_TestCollection">
        <!-- линия 1 -->
        <div class="W_TestLine">
          <!-- тест 1 -->
          <a href="testss/test1.html"><div class="O_TestPreview test1">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 2 -->
          <a href="testss/test2.html"><div class="O_TestPreview test2">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Спиральный график</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Каверзный вопрос про спиральный график, его сможет пройти только умни пон. Проверь насколько ты в теме!</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div>
        </div></a>

        <!-- линия 2 -->
        <div class="W_TestLine">
          <!-- тест 3 -->
          <a href="testss/test3.html"><div class="O_TestPreview test3">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 4 -->
          <a href="testss/test4.html"><div class="O_TestPreview test4">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Столбчатая диаграмма</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div>
        </div></a>

         <!-- линия 3 -->
         <div class="W_TestLine">
          <!-- тест 5 -->
          <a href="testss/test5.html"><div class="O_TestPreview test5">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 6 -->
          <a href="testss/test6.html"><div class="O_TestPreview test6">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Столбчатая диаграмма</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>
        </div>

         <!-- линия 4 -->
         <div class="W_TestLine">
          <!-- тест 7 -->
          <a href="testss/test7.html"><div class="O_TestPreview test7">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 8 -->
          <a href="testss/test8.html"><div class="O_TestPreview test8">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Столбчатая диаграмма</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>
        </div>

         <!-- линия 5 -->
         <div class="W_TestLine">
          <!-- тест 9 -->
          <a href="testss/test9.html"><div class="O_TestPreview test9">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 10 -->
          <a href="testss/test10.html"><div class="O_TestPreview test10">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Столбчатая диаграмма</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>
        </div>

         <!-- линия 6 -->
         <div class="W_TestLine">
          <!-- тест 11 -->
          <a href="testss/test11.html"><div class="O_TestPreview test11">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 12 -->
          <a href="testss/test12.html"><div class="O_TestPreview test12">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Столбчатая диаграмма</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>
        </div>

         <!-- линия 7 -->
         <div class="W_TestLine">
          <!-- тест 13 -->
          <a href="testss/test13.html"><div class="O_TestPreview test13">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Диаграммы</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>

          <!-- тест 14 -->
          <a href="testss/test14.html"><div class="O_TestPreview test14">
            <div class="W_TestPreview">
              <div class="A_ArticleSubtitle">Столбчатая диаграмма</div>
              <div class="A_ArticleName">Базовый тест по теме</div>
              <p>Что такое диаграмма, когда мы&nbsp;их&nbsp;используем
                и&nbsp;зачем. Разновидности диаграмм
                и&nbsp;их&nbsp;визуализациии</p>
              <div class="A_ActionButtonT">Пройти тест</div>
            </div>
          </div></a>
        </div>

      </div>
    </section>


    <footer>
      <div class="W_Links">
        <hr class="long" />
        <div class="W_Content">
          <div class="W_Columns">
            <div class="O_Links">
              <a href="/"><div class="A_FooterLink">Главная</div></a>
              <a href="articles.html"><div class="A_FooterLink">Статьи</div></a>
              <a href="tests.html"><div class="A_FooterLink">Тесты</div></a>
              <a href="cards.html"><div class="A_FooterLink">Карточки</div></a>
            </div>
            <div class="W_Names">
              <div class="W_TextWrapper">
                <p>Дизайнеры:</p>
                <div class="A_FeedBack">
                  Варя Гучек, Саша Ляпина, Ксюша Бочарова
                </div>
              </div>
              <div class="W_TextWrapper">
                <p>Кураторы:</p>
                <div class="A_FeedBack">Софья Каем, Анна Комкова</div>
              </div>
            </div>
          </div>

          <div class="W_Socials">
            <div class="W_Cell">
              <div class="A_Logo black"></div>
              <div class="W_TextWrapper">
                <p>Медиа-сервис</p>
                <div class="A_FeedBack">Для визуализации данных</div>
              </div>
            </div>

            <div class="W_SocialButtons">
              <a href="https://t.me/xlxstg"
                ><div class="Q_Image icon tg"></div
              ></a>
              <a href=""><div class="Q_Image icon vk"></div></a>
              <a href=""><div class="Q_Image icon ut"></div></a>
            </div>
          </div>
        </div>
        <hr class="long" />
      </div>
    </footer>
  </body>
  </section>
</html>
